

im

Este notebook aplica os conceitos abordados na Unidade Curricular de **Inteligência Artificial**, no sexto semestre do curso de **Sistemas de Informação** na **Universidade Anhembi Morumbi**, em 2---
#Objetivo

O objetivo deste notebook é explorar técnicas de **programação**, **inteligência artificial** e **processamento de dados**, aplicadas ao contexto do marketing bancário. Além disso, abordaremos **estratégias de manipulação e análise de dados** para oferecer insights relevantesetor.

---


# Analise e Pre Processamento de Dados

In [551]:
import pandas as pd

In [552]:
df = pd.read_csv('marketing_bancario.csv', sep=';')
display(df)

,Idade,Profissao,Est_Civil,Formacao,cred_automatico,fin_casa,emprestimo,ult_contato,dia_da_semana,duracao,num_contatos,n_dias_pass,Anterior,res_ult_camp_mark,taxa_de_empregabilidade,ind_preco_consumidor,ind_conf_consumidor,num_empregados,dep_resultado
0,56,Domestica,casado,basico,nao,nao,nao,telefone,seg,261,1,999,0,nao existente,1.1,93.994,-36.4,5191.0,nao
1,57,servicos,casado,medio,nao informado,nao,nao,telefone,seg,149,1,999,0,nao existente,1.1,93.994,-36.4,5191.0,nao
2,37,servicos,casado,medio,nao,sim,nao,telefone,seg,226,1,999,0,nao existente,1.1,93.994,-36.4,5191.0,nao
3,40,admin,casado,basico,nao,nao,nao,telefone,seg,151,1,999,0,nao existente,1.1,93.994,-36.4,5191.0,nao
4,56,servicos,casado,medio,nao,nao,sim,telefone,seg,307,1,999,0,nao existente,1.1,93.994,-36.4,5191.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,aposentado,casado,tecnico,nao,sim,nao,celular,sex,334,1,999,0,nao existente,-1.1,94.767,-50.8,4963.6,sim
41184,46,Bracal,casado,tecnico,nao,nao,nao,celular,sex,383,1,999,0,nao existente,-1.1,94.767,-50.8,4963.6,nao
41185,56,aposentado,casado,superior,nao,sim,nao,celular,sex,189,2,999,0,nao existente,-1.1,94.767,-50.8,4963.6,nao
41186,44,tecnico,casado,tecnico,nao,nao,nao,celular,sex,442,1,999,0,nao existente,-1.1,94.767,-50.8,4963.6,sim
41187,74,aposentado,casado,tecnico,nao,sim,nao,celular,sex,239,3,999,1,falhou,-1.1,94.767,-50.8,4963.6,nao

## Aplicando Label Encoded

In [554]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [555]:
le = LabelEncoder()
df = df.apply(le.fit_transform)

In [556]:
display(df)

,Idade,Profissao,Est_Civil,Formacao,cred_automatico,fin_casa,emprestimo,ult_contato,dia_da_semana,duracao,num_contatos,n_dias_pass,Anterior,res_ult_camp_mark,taxa_de_empregabilidade,ind_preco_consumidor,ind_conf_consumidor,num_empregados,dep_resultado
0,39,1,1,3,1,1,1,1,2,261,0,26,0,1,8,18,16,8,0
1,40,10,1,5,3,1,1,1,2,149,0,26,0,1,8,18,16,8,0
2,20,10,1,5,1,4,1,1,2,226,0,26,0,1,8,18,16,8,0
3,23,3,1,3,1,1,1,1,2,151,0,26,0,1,8,18,16,8,0
4,39,10,1,5,1,1,4,1,2,307,0,26,0,1,8,18,16,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,56,4,1,9,1,4,1,0,3,334,0,26,0,1,5,25,0,0,1
41184,29,0,1,9,1,1,1,0,3,383,0,26,0,1,5,25,0,0,0
41185,39,4,1,8,1,4,1,0,3,189,1,26,0,1,5,25,0,0,0
41186,27,11,1,9,1,1,1,0,3,442,0,26,0,1,5,25,0,0,1
41187,57,4,1,9,1,4,1,0,3,239,2,26,1,0,5,25,0,0,0

## Avaliando a importancia das colunas com Random forest

In [558]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

### Separação de variaveis dependentes de variaveis independentes

- **Variaveis Dependentes (features):**
- **ariaveis Independentes (target) :**

  **numpy:** usaremos para trabalhar com arras
  **sklearn.model_selection.train_test_split** é usado para separar conjuntos de dados de treino e teste

In [560]:
print(df.columns)

Index(['Idade', 'Profissao', 'Est_Civil', 'Formacao', 'cred_automatico',
       'fin_casa', 'emprestimo', 'ult_contato', 'dia_da_semana', 'duracao',
       'num_contatos', 'n_dias_pass', 'Anterior', 'res_ult_camp_mark',
       'taxa_de_empregabilidade', 'ind_preco_consumidor',
       'ind_conf_consumidor', 'num_empregados', 'dep_resultado'],
      dtype='object')

In [586]:
X = np.asarray(df[['Idade', 'Profissao', 'Est_Civil', 'Formacao', 'cred_automatico',
       'fin_casa', 'emprestimo', 'ult_contato', 'dia_da_semana', 'duracao',
       'num_contatos', 'n_dias_pass', 'Anterior', 'res_ult_camp_mark',
       'taxa_de_empregabilidade', 'ind_preco_consumidor',
       'ind_conf_consumidor', 'num_empregados']])
y = np.asanyarray(df[['dep_resultado']])

### Separação aleatoria de amostras de treinamento e teste

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, shuffle= True)

### aplicando Random Forest

In [ ]:
column_names = list(df.columns.values)
feature_names = [f"{column_names[i]}" for i in range(X.shape[1])]

In [ ]:
forest = RandomForestClassifier(random_state=0)
forest.fit(X_train, y_train)

### Tempo

In [ ]:
import time

In [ ]:
start_time = time.time()
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_], axis=0)
elapsed_time = time.time() - start_time
print(f"Elapsed time to compute the importances: {elapsed_time:.3f} seconds")

In [ ]:
import matplotlib.pyplot as plt

### Gráfico de análise da importância das Features

In [ ]:
forest_importances = pd.Series(importances, index=feature_names)
fig, ax = plt.subplots()
forest_importances.plot.bar(yerr=std, ax=ax)
ax.set_title("Importância das Colunas - MDI")
ax.set_ylabel("Média de Decréscimo das Impurezas")

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

### Separando colunas categoricas
___
- Variaveis categoricas
   - *Variaveis Categoricas* são variaveis que reoresentam rótulos disccretos ou categorias
       - Elas representam **Caracteristicas Qualitativas** e podem ser divididas em gruopos ou categorias **Sem qualquer tipo de ordem ou relação quantitativa entre elas**
---
- Transformando colunas variaveis categoricas em variaveis numericas
    - Esse codigo transforma a colunas categoricas em colunas binarias. cada valor unico de uma categoria é convertido para 0 ou 1
---
| **handle_unknown='ignore'** significa que se houver valores categoricos desconhecidos nos dados de teste, serão ignorados ao inves dee causar erro, o argumento garante que todas as outras colunas do DataFrame original sejam mantidas sem alterações.

| **make_column_transformer** Combina diferentes transformadores para aplicar em diferentes colunas.

---

In [ ]:
categoric_columns = ['Profissao','cred_automatico','emprestimo','fin_casa']

one_hot_enc = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'), categoric_columns),
    remainder ='passthrough'
)

- Aplicando a transformação de dados
    - resulta em um array onde
        - as colunas categoricas foram convertidas em varias colunas One-Hot
        - as demais foram mantidas

In [ ]:
oh_df = one_hot_enc.fit_transform(df)

In [ ]:
df = pd.DataFrame(oh_df, columns=one_hot_enc.get_feature_names_out())
display(df)

In [ ]:
print(df.columns)

In [ ]:
X = np.asarray(df[['onehotencoder__Profissao_0', 'onehotencoder__Profissao_1',
       'onehotencoder__Profissao_2', 'onehotencoder__Profissao_3',
       'onehotencoder__Profissao_4', 'onehotencoder__Profissao_5',
       'onehotencoder__Profissao_6', 'onehotencoder__Profissao_7',
       'onehotencoder__Profissao_8', 'onehotencoder__Profissao_9',
       'onehotencoder__Profissao_10', 'onehotencoder__Profissao_11','remainder__Idade',
       'remainder__Formacao', 'remainder__duracao',
       'remainder__num_contatos', 'remainder__n_dias_pass',
       'remainder__taxa_de_empregabilidade', 'remainder__ind_preco_consumidor',
       'remainder__ind_conf_consumidor', 'remainder__num_empregados']])
y = np.asanyarray(df[['remainder__dep_resultado']])

## Analise do balanceeamento de dados

In [ ]:
plt.rcParams["figure.figsize"] = [20, 15]
plt.rcParams["figure.autolayout"] = True
pd.value_counts(df['remainder__dep_resultado']).plot.bar()
plt.title('Dados não Balanceados',fontsize=20)
plt.xlabel('dep_resultado', fontsize=18)
plt.ylabel('Frequência', fontsize=18)
plt.tick_params(labelsize=16)

- Target: remainder__dep_resultado 

notamos que existe muita diferença entre dados 0 e 1

### Balanceamento de dados

In [ ]:
from imblearn.over_sampling import SMOTE

#### igualando as amostras

In [ ]:
sm = SMOTE(random_state=42)
X, y = sm.fit_resample(X, y)

In [ ]:

pd.value_counts(y).plot.bar()
plt.title('Dados Balanceados - SMOTE',fontsize=20)
plt.xlabel('Classe', fontsize=18)
plt.ylabel('Frequência', fontsize=18)
plt.tick_params(labelsize=16)

# Treinamento do modelo preditivo

## Separação aleatória de amostras de treinamento e teste

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
shuffle= True)

## Instanciando o agoritmo KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier()

## Treinamento

In [ ]:
# Prevendo os dados a partir da amostra (X_test)
knn_clf.fit(X_train, y_train)
y_prediction=knn_clf.predict(X_test)

### Avaliando o modelo

In [ ]:
### Fazendo a avaliação da acuracidade do modelo
from sklearn.metrics import confusion_matrix,accuracy_score
print('Acuracidade do Algoritmo: ', accuracy_score(y_test,y_prediction))

In [ ]:
class_names=[0,1]
print(confusion_matrix(y_test, y_prediction))

In [ ]:
import matplotlib.pyplot as plt
#from sklearn.datasets import make_classification
from sklearn.metrics import RocCurveDisplay
from sklearn.model_selection import train_test_split
#from sklearn.svm import SVC
#X, y = make_classification(random_state=0)
#X_train, X_test, y_train, y_test = train_test_split(
# X, y, random_state=0)
clf = knn_clf.fit(X_train, y_train)
RocCurveDisplay.from_estimator(clf, X_test, y_test)
plt.show()